<p>Publications mentioned in Ross Douthat's New York Times Op-Ed,
<a href="http://www.nytimes.com/2012/12/30/opinion/sunday/douthat-how-to-read-in-2013.html">
How to Read in 2013</a>.
</p>

<p><a href="random-redirect">Take me to a random publication!</a></p>

<h1>Publications</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Political bent</th>
  </tr>

<% @publications.each do |publication| %>
  <tr>
    <td><a href="<%= publication.url %>"><%= publication.name %></a></td>
    <td><%= publication.political_bent %></td>
  </tr>
<% end %>
</table>

<br />
